@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--black);
  background: #e7f6ff;
  padding-top: 85px;
}

.App {
  background: var(--light);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

:root {
  --black: #000000;
  --gray: #9d9d9d;
  --green: #8bb43c;
  --dark-gray: #5c5c5c;
  --light: #ffffff;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 45px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
